doctype html
html
	head
		meta(charset='utf-8')
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		link(rel='stylesheet', href='https://cdn.jsdelivr.net/reveal.js/3.0.0/css/reveal.css')
		link(rel='stylesheet', href='https://cdn.jsdelivr.net/reveal.js/3.0.0/css/theme/solarized.css')
		link(rel="stylesheet" href="https://cdn.jsdelivr.net/reveal.js/3.0.0/lib/css/zenburn.css")
		block title
			title Code examples
		block styles
			// put your custom styles in this block

	body
		.reveal
			.slides
				block content
		script(src='https://cdn.jsdelivr.net/reveal.js/3.0.0/lib/js/head.min.js')
		script(src='https://cdn.jsdelivr.net/reveal.js/3.0.0/js/reveal.min.js')
		script.
			Reveal.initialize( {
				history: true,
				dependencies: [
					{ src: 'https://cdn.jsdelivr.net/reveal.js/3.0.0/plugin/notes/notes.js', async: true },
					{ src: 'https://cdn.jsdelivr.net/reveal.js/3.0.0/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			} );
